.history
.idea/
.idea_modules/
/project/boot/
/project/target/
/target/
/project/plugins/target/
/project/plugins/project/boot/
/project/plugins/project/target/
.DS_Store
*.swp
*.swo
/migrations/database.yml
/project/project/target/
