com.socrata.soda-fountain  {
  curator.ensemble = {{ ZOOKEEPER_ENSEMBLE }}
  service-advertisement.address = "{{ ARK_HOST }}"
  network.port = 6010

  database {
    host = "{{ SODA_FOUNTAIN_DB_HOST }}"
    port = "{{ SODA_FOUNTAIN_DB_PORT }}"
    database = "{{ SODA_FOUNTAIN_DB_NAME }}"
    username = "{{ SODA_FOUNTAIN_DB_USER }}"
    {{ SODA_FOUNTAIN_DB_PASSWORD_LINE }}
  }

  data-coordinator-client {
    instances-for-new-datasets = [{{ DATA_COORDINATORS_FOR_NEW_DATASETS }}]
  }

  suggest {
    host = "{{ SPANDEX_HOST }}"
    port = "{{ SPANDEX_PORT }}"
  }

  metrics {
    activemq-connection-uri = "{{ BALBOA_ACTIVEMQ_URI }}"
    enable-graphite = {{ ENABLE_GRAPHITE }}
    graphite-host = "{{ GRAPHITE_HOST }}"
    graphite-port = "{{ GRAPHITE_PORT }}"
    jms-queue = "{{ BALBOA_JMS_QUEUE }}"
    log-metrics = {{ LOG_METRICS }}
  }

  computation-strategy-secondary-id {
    {% if GEOCODING_SECONDARY_ID is defined %}
    geocoding = {{ GEOCODING_SECONDARY_ID }}
    {% endif %}

    {% if GEOREGION_MATCH_ON_POINT_SECONDARY_ID is defined %}
    georegion_match_on_point = {{ GEOREGION_MATCH_ON_POINT_SECONDARY_ID }}
    georegion = {{ GEOREGION_MATCH_ON_POINT_SECONDARY_ID }}
    {% endif %}

    {% if GEOREGION_MATCH_ON_STRING_SECONDARY_ID is defined %}
    georegion_match_on_string = {{ GEOREGION_MATCH_ON_STRING_SECONDARY_ID }}
    {% endif %}
  }

    # When soda fountain is configured with a message producer
    # it will send tenant metrics rows-loaded-api when query or export are called
    {% if AMQ_URL is defined and MESSAGE_QUEUE is defined -%}
    message-producer {
      raw-messaging {
        # has a default in Dockerfile
        producers = "activemq"
        activemq.connection-string = "{{ AMQ_URL }}"
        queue = "{{ MESSAGE_QUEUE }}"
      }
    }
    {%- endif %}
}
